* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(221, 209, 200);
}

h1 {
    text-align: center;
    background-color: brown;
    padding: 10px;
} 

header {
    background-color: brown;
    color: white;
    width: 100%;
    
}

.nav {
    background-color: gray;
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    display: inline-flex
    

}

footer {
    background-color: brown;
    color: white;
    width: 100%;

    text-align: center;
    
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    margin-top: 0;
    
}

menu {
    text-align: center;
    padding: 25px;
}

h2 {
    padding: 20px;
}

.img {
    margin: 20px;
    height: 650px;
    width: 730px;
}

.acercade {
    font-size: 30px;
    margin: 20px;
}

.formulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2%;
    margin: 1% 2%;
}

label, input{
    font-size: 1.2vw;
}

input {
    border-radius: 2px;
    border: none;
    
}

input[type=text], input[type=textarea] {
    width: 50%;
    padding: 1vw;
    margin: 1vw;
    display: inline-block;
    border: solid black 1px;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=radio] {
    margin: 12px;
    }

input[type=checkbox] {
    margin: 12px;
}    

input[type=submit] {
    width: 20%;
    color:  white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    background-color: chartreuse;
    border-radius: 15px;    
}

.icono { 
    color: #f2f2f2;
    font-size: 1.7vw;
    text-align: center;
}

.icono a {
    margin: 0 6px;
}

.comentario {
    padding: 12px;
    font-size: 20px;
    margin-top: 10px;

}

h5 { 
    text-align: center;
    font-size: 24px; 
    text-decoration: underline
}

.seguridad {
    text-align: center;
}

.materiales {
text-align: center;
font-size: 16px;
text-decoration: underline;
}

tr td {
    text-align: center;
}

ul li {

    text-align: center;
}

.container-all img {
    width: 300px;
   height: 465px;
}